body {
    background-color: white;
}

h1 {
    color: rgba(255, 0, 0, 0.712);
    padding: 60px;
}

p{

font-size: 30px;
}

#paragrafo {

color: rgb(120, 49, 187);    
}

.paragrafo {
    color:darkgray;
}

.margin{
    margin: 20px;
}

